body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.navTopBar {
    padding: 20px 16px 20px 16px;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}

.logo > .rs {
    margin-right: 4px;
    color: #e6686a;
}

.logo > .card {
    color: #9a9da2;
}

.navigator {
    padding: 5px 0;
}

.navigator ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigator ul li {
    margin: 0 17px;
}

.navigator ul li a {
    color: #b7b7b7;
    font-size: 12px;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-top: 3px solid transparent;
    padding:5px 0;
    display: block;
}

.navigator ul li a:hover {
    border-bottom: 3px solid #e06567;
}





